<!DOCTYPE html>
<html>
  <head>
    <title>RailsFirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <%= yield %>


    <form action="/contact" method="get">
      <input type="text" name="member" value="<%= params[:member] %>" placeholder="Who are you looking for?">
      <input type="text" name="hello" placeholder="Type something">
      <input type="submit">
    </form>
  </body>
</html>
